html {
    background-color: rgb(34, 34, 34);
}
.spaceListHeaderContainer{
    height: 200px;
    color: white;
}
.spaceContainer {
    margin-left: 40px;
}
.spaceListHeaderContainer h1{
    
}
.spaceListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.spaceCard {
    width: 350px;
    height: 200px;
    background-color: rgba(101, 89, 180, 0.74);
    cursor: pointer;
    transition: transform 0.3s ease; 
}
.spaceCard:hover{
    transform: scale(1.1);
}
.spaceCard p {
    font-size: 24px;
    color: white;
    margin-left: 20px;
}