.tablesContainer{
    display: flex;
    gap: 5px;
    flex-direction: column;
    
}
.tablesContainer h2 {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}
.table{
    width: 300px;
    height: 200px;
    background-color: rgb(233, 233, 233);
}
.tablesListContainer{
    display: flex;
    gap: 5px;
}
.taskContainer{
    background-color: rgb(170, 170, 170);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.taskButton{

}